<body id="battle">

    <input type="hidden">

    <main>
        <h1>This is the battle page</h1>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/main.js"></script>
</body>