<body id="lobby">

    <input type="hidden" id="user-info" user-name="{{ user_info.username }}" gym-name="{{ user_info.gymName }}"
        gender="{{ user_info.gender }}">

    <main>
        <div class="lobby-container">
            <div class="lobby-container-leftside">
                <img src="/images/pewter_city.png" alt="Pokemon Map">
                <div class="container-leftside-content">
                    <h2>Pewter City</h2>
                    <div class="join-element">
                    </div>
                </div>
            </div>
            <div class="container-leftside-battle">
                <div class="battle-container">
                </div>
                <div class="battle-message-container">
                    <div class="message-output">
                        <div class="message">
                            <div class="battle-element">
                            </div>
                        </div>
                    </div>
                    <div class="attack-buttons">
                        <button id="attack1" class="attack-button">Attack1</button>
                        <button id="attack2" class="attack-button">Attack2</button>
                        <button id="attack3" class="attack-button">Attack3</button>
                        <button id="attack4" class="attack-button">Attack4</button>
                    </div>
                </div>
            </div>
            <div class="lobby-container-rightside">
                <div class="topside-inside-container">
                    <div class="title-container">
                        <div class="inside-icon">
                            <img src="/images/icons/pokeball.svg" alt="Pokemon Ball">
                        </div>
                        <div class="inside-title">
                            <h2>Pokemon</h2>
                            <p>Trainers</p>
                        </div>
                    </div>
                    <div class="trainer-container">
                        <ul id="trainer-list">
                        </ul>
                        <div class="start-button-container">
                            <button class="start-button" disabled>Start battle!</button>
                        </div>
                    </div>

                </div>
                <div class="bottomside-inside-container">
                    <div class="search-container">
                        <label for="search">What pokemon do you want?</label>
                        <input id="search" type="search" placeholder="Search..." autofocus required />
                        <button id="search-button" type="submit">Go</button>
                    </div>
                    <div class="pokemon-image-container">
                        <h2 id="pokemon-name"></h2>
                        <img id="pokemon-image">
                    </div>
                    <div class="pokemon-information-container">
                        <div class="pokemon-health">
                            <p>Health</p>
                            <p id="health"></p>
                        </div>
                        <div class="pokemon-type">
                            <p>Type</p>
                            <p id="type"></p>
                        </div>
                        <div class="pokemon-weight">
                            <p>Weight</p>
                            <p id="weight"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>