<body id="lobby">

    <input type="hidden" id="user-info" user-id="{{users.id}}" user-name="{{ user_info.username }}"
        gym-name="{{ user_info.gymName }}" gender="{{ user_info.gender }}">

    <main>
        <div class="lobby-container">
            <div class="lobby-container-leftside">
                <img src="/images/pewter_city.png" alt="Pokemon Map">
                <div class="container-leftside-content">
                    <h2>Pewter City</h2>
                    <div class="join-element">
                    </div>
                </div>
            </div>
            <div class="container-leftside-battle">
                <div class="battle-container">
                    <div class="opponent">
                        <div class="opponents-pokemon-information">
                            <p id="opponents-pokemon-name"></p>
                            <label for="health-output">HP</label>
                            <progress id="health-output-p2"></progress>
                            {{!-- <p id="current-health-p2"></p> --}}
                        </div>
                        <div class="opponents-pokemon">
                            <img id="opponents-pokemon-image">
                        </div>
                    </div>
                    <div class="you">
                        <div class="your-pokemon">
                            <img id="your-pokemon-image">
                        </div>
                        <div class="your-pokemon-information">
                            <p id="your-pokemon-name"></p>
                            <label for="health-output">HP</label>
                            <progress id="health-output-p1"></progress>
                            <p id="current-health-p1"></p>
                        </div>
                    </div>
                </div>
                <div class="battle-message-container">
                    <div class="message-output">
                        <div class="message">
                            <div class="battle-element">
                            </div>
                        </div>
                    </div>
                    <div class="attack-buttons">
                        <button id="attack" class="attack-button" disabled>Attack</button>
                        <button id="heal" class="heal-button">Heal</button>
                    </div>
                </div>
            </div>
            <div class="container-leftside-end-screen-back">
            </div>
            <div class="container-leftside-end-screen">
                <div class="end-screen-inner-wrap">
                    <div class="header-end-screen">
                        <h1 class="end-title"></h1>
                    </div>
                    <div class="content-end-screen">
                        <h2 class="head-end-message"></h2>
                        <p class="sub-end-message"></p>
                        <img id="end-pokemon" src="" alt="end pokemon image">
                    </div>
                    <a class="back-button" href="/">Go back</a>
                </div>
            </div>
            <div class="container-leftside-leave-buster">
                <div class="leave-buster-inner-wrap">
                    <div class="header-leave-buster">
                        <h1 class="leave-buster-title"></h1>
                    </div>
                    <div class="content-leave-buster">
                        <h2 class="head-leave-buster-message"></h2>
                        <p class="sub-leave-buster-message"></p>
                    </div>
                    <a class="back-button" href="/">Go back</a>
                </div>
            </div>
            <div class="lobby-container-rightside">
                <div class="topside-inside-container">
                    <div class="title-container">
                        <div class="inside-icon">
                            <img src="/images/icons/pokeball.svg" alt="Pokemon Ball">
                        </div>
                        <div class="inside-title">
                            <h2>Pokemon</h2>
                            <p>Trainers</p>
                        </div>
                    </div>
                    <div class="trainer-container">
                        <ul id="trainer-list">
                        </ul>
                        <div class="start-button-container">
                            <button class="start-button" disabled>Start battle!</button>
                        </div>
                    </div>

                </div>
                <div class="bottomside-inside-container">
                    <div class="search-container">
                        <p class="tooltip">Choose your pokemon before you join the fight</p>
                        <input type="search" id="search" value="pikachu" placeholder="What pokemon do you want?"
                            required />
                        <button id="search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <p id="error" class="errorMessage"></p>
                    <div class="pokemon-image-container">
                        <img id="pokemon-image">
                        <h2 id="pokemon-name"></h2>
                    </div>
                    <div class="pokemon-information-container">
                        <div class="pokemon-health">
                            <p>Health</p>
                            <p id="health"></p>
                        </div>
                        <div class="pokemon-type">
                            <p>Type</p>
                            <p id="type"></p>
                        </div>
                        <div class="pokemon-weight">
                            <p>Weight</p>
                            <p id="weight"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>