<body id="lobby">

    <input type="hidden" id="user-info" user-name="{{ user_info.username }}" gym-name="{{ user_info.gymName }}"
        gender="{{ user_info.gender }}">

    <main>
        <div class="lobby-container">
            <div class="lobby-container-leftside">
                <img src="/images/pewter_city.png" alt="Pokemon Map">
                <div class="container-leftside-content">
                    <h2>Pewter City</h2>
                    <div class="join-element">
                    </div>
                </div>
            </div>
            <div class="container-leftside-battle">
                <h2>Battle room!!!</h2>
                <button class="attack-button">Attack!</button>
                <div class="battle-element">
                </div>
            </div>
            <div class="lobby-container-rightside">
                <div class="topside-inside-container">
                    <div class="title-container">
                        <div class="inside-icon">
                            <img src="/images/icons/pokeball.svg" alt="Pokemon Ball">
                        </div>
                        <div class="inside-title">
                            <h2>Pokemon</h2>
                            <p>Trainers</p>
                        </div>
                    </div>
                    <ul id="trainer-container">
                    </ul>
                    <button class="start-button" disabled>Start battle!</button>
                </div>
                <div class="bottomside-inside-container"></div>
            </div>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>