<div class="container flex-center">
    <h2>Pick Your Pokemon</h2>
    <div class="search-container">
        <input type="text" class="form-control" id="search-bar" placeholder="Search pokemon by name">
        <button>
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>