<div class="container flex-center">
    <h2>Pick Your Pokemon</h2>
    <div class="search-container">
        <input type="text" class="form-control" id="search-bar" placeholder="Search pokemon by name">
        <button id="search-button">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
    <div id="show-error">
        <!-- TODO: Make a error message if the pokemon doesn't exists -->
    </div>
    <div class="pokemon-card">
        <div class="image-container">
            <img id="front-image"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg">
        </div>
        <div class="details-container">
            <div class="title-container">
                <h3>Ditto</h3>
                <hr class="seperator">
            </div>
            <div class="attributes-container">
                <div class="type-attribute">
                    <p class="type-text">Normal</p>
                    <small class="small-text">Type</small>
                </div>
                <div class="weight-attribute">
                    <p class="type-text">kg</p>
                    <small class="small-text">Weight</small>
                </div>
                <div class="height-attribute">
                    <p class="type-text">M</p>
                    <small class="small-text">Height</small>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/bundle.js"></script>